input {
    width:100%;
    padding:10px 20px 10px 40px;
    border:0;
    outline: none;
    font-size: 16px;
    color:#202020;
    font-weight: 500;

    &::placeholder{
        font-size: 16px;
    }
}